<h1>Pages#about</h1>
<pre>	There are many websites out there with free content like games, videos, music, applications, source code, and more but unless they are extremely big or you do a lot of surfing you probablly don't know about them. This website was designed to help share the not so well know websites with the world. <br /></pre>  
<h2>How to use this site:</h2>
<pre>	If you are just looking for new websites to enjoy just browse this site for what you are looking for. If you happen to know a few sites and would like to share them or your opinion on them please sign up.</pre>
